MONGO_URI=mongodb+srv://hrmsadmin:Hrms12345@cluster0.zw2j1tk.mongodb.net/?retryWrites=true&w=majority
SECRET_KEY=django-insecure-mu=@tcgosqu33izmouoidykzo2c&c#iu6mvo5_jkq01#wd5$75
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
